*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0  5px rgb(197, 180, 180);
    align-items: center;
    padding: 10px;
}
#left{
       display: flex;
       flex-direction: row;
       align-items: center;
       gap: 5px;
}
#container{
    background-color: gray;
}
#nav-button{
    border: 1px orange solid;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
}
#nav-button:hover{
    background-color: orange;
}
#input_search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#input_search>h1{
    font-weight: bolder;
    font-family: cursive;
    color: orange;
}
#input_search>#input_part>#input{
  height: 30px;
  width: 400px;
  font-size: larger;
}
#input_search>#input_part>button{
    height: 35px;
    font-size: larger;
    width: 100px;
}

#body{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 0 50px;
}
#h1{
    font-size: larger;
    font-weight: bolder;
}
#top_coins{
    color: orange;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
#coins{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}
/* #coin_search{
    background-image: url('download (1).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

footer>p{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10x 0 0 10px;
    margin: 30px 0 0 10px;
}
footer{
    box-shadow: 0 0 4px gray;
    margin-top: 30px;
    text-align: center;
}